<div class="book">
    <h3>{{book.title}} <img class="icon" id="deleteIcon" (click)="onDelete(book)" src="../../../assets/button-close.png" alt=""></h3>
    <p>{{book.author}}</p>

    <table>
        <tr>
            <td>
                Own <img class="icon" (click)="changeOwnership(book)" src={{ownershipIcon}} alt="">
            </td>
            <td>
                Read <img class="icon" (click)="changeHaveRead(book)" src={{hasReadIcon}} alt="">
            </td>
            <td>
                In Progress <img class="icon" (click)="changeNowReading(book)" src={{nowReadingIcon}} alt="">
            </td>
        </tr>
    </table>
</div>