<form class="add-form" (ngSubmit)="onSubmit()">
    <h3>Add New Book</h3>

    <table class="tableText">
        <tr>
            <td><label for="title">Book Title</label></td>
            <td><input type="text" name="title" [(ngModel)]="title" class="textbox" id="title" placeholder="Add Book Title"></td>
        </tr>
        <tr>
            <td><label for="author">Author</label></td>
            <td><input type="text" name="author" [(ngModel)]="author" class="textbox" id="author" placeholder="Add Author(s)"></td>
        </tr>
    </table>

    <table class="tableCheckbox">
        <tr>
            <td><label for="ownership">Own Book?</label></td>
            <td><input type="checkbox" name="ownership" [(ngModel)]="ownership" id="ownership"></td>

            <td><label for="hasRead">Have Read?</label></td>
            <td><input type="checkbox" name="hasRead" [(ngModel)]="hasRead" id="hasRead"></td>

            <td><label for="nowReading">Currently Reading?</label></td>
            <td><input type="checkbox" name="nowReading" [(ngModel)]="nowReading" id="nowReading"></td>
        </tr>
    </table>

    <table class="tableBtn">
        <input type="submit" value="Save Book" class="btn">
    </table>
</form>